@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
@import 'font-awesome';

// header
.nav {
  &.user {
    margin-left: 7px;
    line-height: 3;

    .avatar {
      max-width: 20px;
    }
  }

  span.signin {
    margin-left: 20px;
  }
}


// main page
.hero-unit {
  h1 small {
   display: block;
  }
}